<div class="text-center mt-5 ms-5 me-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
      <div *ngIf="hasError" class="alert alert-danger mt-2" role="alert">
        {{errorMessage}}
      </div>
      <img class="mb-4" src="http://cdn.onlinewebfonts.com/svg/img_405324.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Entre na sua conta</h1>
      <label for="cpf" class="sr-only">CPF (Somente numeros):</label>
      <input formControlName="cpf" type="text" id="cpf" class="form-control" placeholder="Seu CPF" required="" autofocus="" maxlength="11">
      <small *ngIf="loginForm.get('cpf')?.errors?.['required']" class="text-danger d-block mt-2">*CPF requerido.</small>
      <small *ngIf="loginForm.get('cpf')?.errors?.['minlength']" class="text-danger d-block mt-2">*CPF deve conter 11 digitos.</small>
      <small *ngIf="loginForm.get('cpf')?.errors?.['maxlength']" class="text-danger d-block mt-2">*CPF não pode conter mais do que 11 digitos.</small>
      <small *ngIf="loginForm.get('cpf')?.errors?.['pattern']" class="text-danger d-block mt-2">*Digite somente numeros.</small>
      

      <br>
      <label for="senha" class="sr-only">Senha:</label>
      <input formControlName="senha" type="password" id="senha" class="form-control" placeholder="Sua senha" required="">
      <small *ngIf="loginForm.get('senha')?.errors?.['required']" class="text-danger d-block mt-2">*Senha requerida.</small>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <br>
      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block mb-5" type="submit">Entrar</button>

    </form>
</div>